* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.center-lines {
  background-color: transparent;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  position: relative;
}
.center-lines::before {
  content: "";
  display: block;
  position: absolute;
  left: 33.3333%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e6e6e6;
  z-index: -1;
}
.center-lines::after {
  content: "";
  display: block;
  position: absolute;
  right: 33.3333%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e6e6e6;
  z-index: -1;
}

.logo {
  display: flex;
  align-items: center;
  transition: color 0.3s;
}
.logo-img {
  fill: #CDA274;
}
.logo-title {
  margin-left: 10px;
  text-transform: uppercase;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: normal;
}
.logo:hover p {
  color: #CDA274;
}

.pages-item a {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: normal;
  color: #292F36;
  text-transform: capitalize;
  transform: color 0.3s;
}
.pages-item a:hover {
  color: #CDA274;
}

.header {
  padding: 44px 0 57px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--nav {
  display: flex;
  gap: 50px;
}

.banner-wrp {
  border-radius: 70px;
  background-image: url(../images/banner-back-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 758px;
  display: flex;
  padding-left: 52px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.banner-title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: normal;
  max-width: 434px;
  width: 100%;
  text-transform: capitalize;
}
.banner-text {
  margin-top: 18px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 434px;
  width: 100%;
}
.banner-button {
  margin-top: 21px;
  border-radius: 18px;
  background-color: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  padding: 26px 49px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  transition: all 0.3s;
}
.banner-button path {
  stroke: #CDA274;
}
.banner-button:hover {
  cursor: pointer;
  background-color: white;
  color: #CDA274;
}
.banner-button:hover svg {
  fill: white;
}

.project {
  padding: 96px 0;
  text-align: center;
}
.project__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.project__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 737px;
  width: 100%;
  margin: 8px auto 93px auto;
}
.project__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 104px;
       column-gap: 104px;
  row-gap: 54px;
}
.project__list li:nth-child(4n-3) img {
  border-top-right-radius: 80px;
}
.project__list li:nth-child(4n-2) img {
  border-top-left-radius: 80px;
}
.project__list li:nth-child(4n-1) img {
  border-bottom-right-radius: 80px;
}
.project__list li:nth-child(4n) img {
  border-bottom-left-radius: 80px;
}
.project__card-img {
  max-width: 548px;
  width: 100%;
  height: auto;
}
.project__card-description {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__card-title {
  text-align: left;
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.project__card-text {
  margin-top: 4px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.project__card-link {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F4F0EC;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.project__card-link path {
  stroke: #292F36;
}
.project__card-link:hover {
  background-color: white;
  border: 1px solid #CDA274;
}
.project__card-link:hover path {
  stroke: #CDA274;
}
.project-categories--wrp {
  padding-top: 200px;
  padding-bottom: 61px;
  display: flex;
  justify-content: center;
}
.project__gallery {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.project__gallery-item {
  max-width: 585px;
  width: 100%;
}

.counter {
  background-color: #F4F0EC;
  padding: 151px 0;
}
.counter__list {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter__item {
  max-width: 25%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.counter__item:before {
  content: "";
  width: 1px;
  height: 130px;
  display: block;
  background-color: #CDA274;
  position: absolute;
  right: 0;
  bottom: 7px;
}
.counter__item:last-child::before {
  content: none;
}
.counter__value {
  font-family: DM Serif Display;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
  color: #CDA274;
}
.counter__description {
  margin-top: 16px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  text-transform: capitalize;
}

.blog {
  padding: 96px 0;
}
.blog--padding {
  padding: 200px 0;
}
.blog__title {
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  color: #292F36;
  text-align: center;
}
.blog__title--align-left {
  text-align: left;
}
.blog__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  max-width: 811px;
  width: 100%;
  margin: 12px auto 52px auto;
  text-align: center;
}
.blog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.blog__list--margin-top {
  margin-top: 30px;
}
.blog__list li {
  display: flex;
  align-items: stretch;
}
.blog__item {
  padding: 21px;
  border: 1px solid #e6e6e6;
  border-radius: 62px;
  transition: all 0.3s;
  background-color: #fff;
}
.blog__item:hover {
  background-color: #F4F0EC;
}
.blog__item:hover .blog__link {
  background-color: #fff;
}
.blog__img {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}
.blog__img-wrp {
  position: relative;
}
.blog__tags {
  position: absolute;
  width: 135px;
  padding: 4px 0 8px 11px;
  background-color: #fff;
  border-radius: 8px 8px 8px 0;
  z-index: 2;
  left: 20px;
  bottom: 20px;
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.16px;
}
.blog__description {
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  color: #292F36;
  max-width: 305px;
  width: 100%;
  margin-top: 15px;
  text-align: left;
}
.blog__data {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  color: #4D5053;
}
.blog__link {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F4F0EC;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: stroke 0.3s;
}
.blog__link path {
  stroke: #292F36;
}
.blog__link:hover path {
  stroke: #CDA274;
}
.blog__footer {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.blog__scroll-list {
  margin-top: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.blog__scroll-button {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 1px solid #CDA274;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: normal;
  color: #292F36;
  background-color: white;
  transition: all 0.3s;
}
.blog__scroll-button--selected {
  background-color: #F4F0EC;
}
.blog__scroll-button path {
  stroke: #292F36;
}
.blog__scroll-button:hover {
  cursor: pointer;
  color: #CDA274;
}
.blog__scroll-button:hover path {
  stroke: #CDA274;
}

.footer {
  padding-bottom: 134px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 101px;
}
.footer__logo {
  max-width: 393px;
  width: 100%;
}
.footer__logo-text {
  margin-top: 18px;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.footer__logo-social-list {
  margin-top: 30px;
  display: flex;
  gap: 54px;
}
.footer__logo-social-link svg {
  fill: #292F36;
  transition: color 0.3s;
}
.footer__logo-social-link:hover svg {
  fill: #CDA274;
}
.footer__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: normal;
}
.footer__pages--text a {
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.footer__pages--margin {
  margin-top: 10px;
}
.footer__contacts {
  max-width: 258px;
  width: 100%;
  margin-left: auto;
  margin-right: 0;
}
.footer--text {
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
  color: #4D5053;
  display: block;
}
.footer__address {
  margin-top: 26px;
  line-height: 150%;
}
.footer__phone:hover, .footer__mail:hover {
  color: #CDA274;
}

.blog-banner {
  background-image: url(../images/blog-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 356px;
  display: flex;
  align-items: end;
}
.blog-banner__text {
  background-color: #fff;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  margin: auto auto 0 auto;
  max-width: 503px;
  width: 100%;
  height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog-banner__title {
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: normal;
  color: #292F36;
}
.blog-banner--project {
  background-image: url(../images/project-banner.jpg);
}

.breadcrumbs {
  display: flex;
}
.breadcrumbs__item a {
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.breadcrumbs__item a:hover {
  color: #CDA274;
}
.breadcrumbs__item::after {
  content: "/ ";
  margin-left: 10px;
  margin-right: 10px;
}
.breadcrumbs__item:last-child::after {
  content: none;
  margin-right: 0;
}

.latest-post {
  padding-top: 200px;
}
.latest-post__title {
  font-family: DM Serif Display;
  font-size: 45px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  color: #292F36;
}
.latest-post__card {
  margin-top: 27px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 65px;
  padding: 22px;
  border-radius: 62px;
  border: 1px solid #e6e6e6;
}
.latest-post__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 489px;
  width: 100%;
}
.latest-post__name {
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  color: #292F36;
}
.latest-post__annotation {
  margin-top: 22px;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  color: #4D5053;
  max-width: 469px;
  width: 100%;
}
.latest-post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;
}
.latest-post__data {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  color: #4D5053;
}
.latest-post__img {
  border-radius: 50px;
}

.blog-details__banner {
  background-image: url(../images/blog-details-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 351px;
}
.blog-details__wrp {
  padding: 200px 0 96px;
  display: flex;
}
.blog-details__text {
  margin-right: 51px;
  max-width: 66.6666%;
}
.blog-details__text-title {
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  color: #292F36;
}
.blog-details__text-img {
  margin-top: 21px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.blog-details__text-data {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  color: #4D5053;
}
.blog-details__text-annotation {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.blog-details__text-annotation--font-size li a {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
}
.blog-details__text-paragraph {
  margin-top: 30px;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.blog-details__text-quote {
  margin-top: 35px;
  margin-bottom: 27px;
  width: 100%;
  border-radius: 50px;
  background-color: #F4F0EC;
  color: #CDA274;
  height: 267px;
  font-style: italic;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
.blog-details__text-quote span {
  font-family: DM Serif Display;
  font-size: 200px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 4px;
  position: absolute;
  top: calc(50% - 132px);
  left: calc(50% - 56px);
}
.blog-details__text-quote p {
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 53px;
  max-width: 345px;
  width: 100%;
  text-align: center;
}
.blog-details__text-list {
  list-style-type: none;
  counter-reset: listItemNumber 0;
}
.blog-details__text-list li {
  position: relative;
  padding-left: 20px;
}
.blog-details__text-list li:before {
  content: counter(listItemNumber);
  counter-increment: listItemNumber 1;
  position: absolute;
  top: 3px;
  left: 0;
  font-family: DM Serif Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.4px;
  color: #CDA274;
}
.blog-details__text-list li:not(:last-child) {
  margin-bottom: 30px;
}
.blog-details__text--img {
  margin-top: 44px;
  margin-bottom: 5px;
}
.blog-details__tags {
  max-width: 351px;
  width: 100%;
  color: #292F36;
}
.blog-details__tags-title {
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.blog-details__tags-list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 11px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.blog-details__tags-btn {
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.36px;
  padding: 9px 30px;
  border-radius: 10px;
  background-color: #F4F0EC;
  cursor: pointer;
}
.blog-details__tags-btn--selected {
  color: white;
  background-color: #292F36;
}
.blog-details__tags-btn:hover {
  color: #CDA274;
}

.categories {
  display: flex;
  gap: 30px;
  border: 1px solid #CDA274;
  border-radius: 18px;
  align-items: center;
}
.categories__item {
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  border-radius: 18px;
  padding: 26px 66px;
  color: #292F36;
  background-color: white;
}
.categories__item:hover {
  color: #CDA274;
  cursor: pointer;
}
.categories__item--selected {
  background-color: #CDA274;
  color: white;
}
.categories__item--selected:hover {
  color: #292F36;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */