.blog {
  padding: 96px 0;
	&--padding{
		padding: 200px 0;
	}
  &__title {
    @include dmSerif(50px, 125%, 1px);
    color: $titleTxtColor;
    text-align: center;
    &--align-left {
      text-align: left;
    }
  }
  &__text {
    color: $textColor;
    @include jost(22px, 400, 150%, 0.22px);
    max-width: 811px;
    width: 100%;
    margin: 12px auto 52px auto;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
		row-gap: 30px;
    &--margin-top {
      margin-top: 30px;
    }
		& li{
			display: flex;
			align-items: stretch;
		}
  }
  &__item {
		// align-self: stretch;
    padding: 21px;
    border: 1px solid $borderColor;
    border-radius: 62px;
    transition: all 0.3s;
    background-color: #fff;
    &:hover {
      background-color: $accentBGColor;
      & .blog__link {
        background-color: #fff;
      }
    }
  }
  &__img {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    &-wrp {
      position: relative;
    }
  }
  &__tags {
    position: absolute;
    width: 135px;
    padding: 4px 0 8px 11px;
    background-color: #fff;
    border-radius: 8px 8px 8px 0;
    z-index: 2;
    left: 20px;
    bottom: 20px;
    color: $textColor;
    @include jost(16px, 400, 29px, 0.16px);
  }
  &__description {
    @include dmSerif(25px, 125%, 0.5px);
    color: $titleTxtColor;
    max-width: 305px;
    width: 100%;
    margin-top: 15px;
    text-align: left;
  }
  &__data {
    
    @include jost(16px, 400, 150%, 0.16px);
    color: $textColor;
  }
  &__link {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: $accentBGColor;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: stroke 0.3s;
    & path {
      stroke: $titleTxtColor;
    }
    &:hover path {
      stroke: $accentColor;
    }
  }
  &__footer {
		// margin-top: 26px;
		align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }
	&__scroll{
		&-list{
			margin-top: 51px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
		}
		&-button{
			height: 52px;
			width: 52px;
			border-radius: 50%;
			border: 1px solid $accentColor;
			display: flex;
			justify-content: center;
			align-items: center;
			@include jost(16px, 500, 150%, normal);
			color: $titleTxtColor;
			background-color: white;
			transition: all .3s;
			&--selected{
				background-color: $accentBGColor;
			}
			& path{
				stroke: $titleTxtColor;
			}
			&:hover{
				cursor: pointer;
				color: $accentColor;
				& path{
					stroke: $accentColor;
				}
			}
		}
	}
}
